<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jobchoice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".search_more_screen"
            android:exported="false" />
        <activity
            android:name=".WorkerFinding_screen"
            android:exported="false" />
        <activity
            android:name=".JobFinding_screen"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profileEdit_screen"
            android:exported="false" />
        <activity
            android:name=".FifthRecommend_screen"
            android:exported="false" />
        <activity
            android:name=".FourthRecommend_screen"
            android:exported="false" />
        <activity
            android:name=".ThirdRecommend_screen"
            android:exported="false" />
        <activity
            android:name=".SecondRecommend_screen"
            android:exported="false" />
        <activity
            android:name=".FirstRecommend_screen"
            android:exported="false" />
        <activity
            android:name=".recomMap_screen"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzO1gXIiLDxE7pQykqZQsgEXjR4pbUaKw" />

        <activity
            android:name=".setting_screen"
            android:exported="false" />
        <activity
            android:name=".recommend_screen"
            android:exported="false" />
        <activity
            android:name=".map_screen"
            android:exported="false" />
        <activity
            android:name=".search_screen"
            android:exported="false" />
        <activity
            android:name=".profile_screen"
            android:exported="false" />
        <activity
            android:name=".Register_screen"
            android:exported="false" />
        <activity
            android:name=".AfterLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>